.popup {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252, 186, 3);
}