.App {
  text-align: center;
}

.navBar {
  padding: 1.5vh 8vw;
  background: #DC3545;
  display: flex;
  justify-content: space-around;
}

.navBarLinks {
  text-decoration: none;
  color: white;
  font-size: 2.0vw;
  font-weight: 800;
}

.navBarLinks:hover {
  color: rgba(42, 42, 42, 0.681);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.scheduleContainer {
  display: flex;
  padding: 5vh 10vw;
  gap: 1.2vw;
  background-image: url('https://cdn.shopify.com/s/files/1/1876/4703/articles/shutterstock_1685490910_1000x.jpg?v=1647081388');
  background-size: 100%;
  background-size: cover;
  height: 120vh;
}

.exerciseColumn {
  flex:1;
}

.exerciseColumn h2 {
  text-align: center;
  color: white;
  margin-bottom: 4vh;
  font-weight: 650;
}

.scheduleExercise {
  border: 2px solid black;
  border-radius: 9px;
  padding: 12px 12px 12px 12px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: whitesmoke;
  text-align: center;
}

.scheduleExercise p:first-child {
  font-weight: 700;
  font-size: 0.9vw;
}

.scheduleExercise p {
  margin-bottom: -2px;
}



.planContainer {
  padding: 5vh 10vw;
  background-image: url('https://wallpapercave.com/wp/wp8487270.jpg');
  background-size: 100%;
  background-size: cover;
  height: 120vh;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 2px solid #DC3545;
}

.tabs > li {
  padding: 0.5em 1em;
  margin: 0 1em;
  font-size: 1.2vw;
}

.current {
  background-color: #DC3545;
  font-weight: bold;
  border: 2px solid #DC3545;
  border-bottom: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  top: 2px;
}

.tabContent {
  padding: 1em 2em;
}




.exerciseContainer {
  background-image: url('https://i.pinimg.com/originals/32/1c/e9/321ce9f5f48596a733d91e8f8d269808.jpg');
  background-size: 100%;
  background-size: cover;
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.exerciseSearch {
  display: flex;
  justify-content: center;
  padding: 5.9vh 0 6vh;
  color: white;
  font-size: 1.2vw;
  gap: 0.8vw;
}

.exerciseSearch h3 {
  font-size: 2.5vw;
  font-weight: 800;
}

.exerciseSearch select {
  height: 2.5em;
}

.exerciseResults {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 17px 0 4px;
  width: 20%;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: whitesmoke;
  align-items: center;
  vertical-align: 800px;
}

.popup {
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}